/* Media Queries */
@media (min-width: 76rem) {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    .flex-column {
      flex-direction: column;
    }
  }
  
  @media (min-width: 90rem) {
    .grid {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
  
    .flex-column {
      flex-direction: column;
    }
  }
  