/* utilities.css */

/* backgrounds */
.bg-secondary {background-color: var(--clr-secondary);}
.bg-accent {background-color: var(--clr-accent);}

/* spacing */
.mt-md {margin-top: 2em;}
.mt-lg {margin-top: 4em;}
