---
import Basiclayout from "../layouts/basiclayout.astro"
import PageTitle from "../components/pageTitle.astro"
---

<Basiclayout>
    <PageTitle title="Grazie!"/>
    <div class="container">
        
    </div>
    </Basiclayout>