---

---

<section class="bg-secondary">
    <div class="container about">
        <h2>/about</h2>
        <p>Aiuto le persone a comprendere meglio sé stesse e a superare momenti difficili,
            attraverso un percorso terapeutico personalizzato, basato su evidenze scientifiche,
            ascolto e fiducia reciproca.</p>
        <a class="btn-primary" href="/chi-sono">Scopri di più</a>
    </div>
</section>

<style>

    .about {
        min-height: 30rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 1em;
    }

    

</style>