---

---

<section>
    <div class="container double-cta">
        <h2>domande e dubbi sulla terapia</h2>
        <div class="double-cta__links">
            <a href="#">Leggi i dubbi più frequenti</a>
            <a href="">Prenota una visita</a>

        </div>
    </div>
</section>

<style>

    section {
        background-image: url(/public/images/abstract-bg.png);
        margin-top: 1em;
    }

    .double-cta {
        min-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10em 0;
        margin-top: 3em;
    }

    .double-cta__links {
        display: flex;
        gap: 1em;
        margin-top: 1em;
    }
</style>