---

---

<section>
    <div class="container hero">
        <h1>Un percorso terapeutico basato sull'ascolto, la fiducia e il cambiamento</h1>
        <img src="/public/images/martina-pennesi.jpg" alt="">
    </div>
</section>

<style>

    .hero {
        display: grid;
        grid-template-columns: 1fr;
        margin-block: 2em;
        min-height: 500px;
        align-items: center;

        @media (min-width: 767px) {
            grid-template-columns: repeat(2,1fr);
        }
    }

    

</style>