---

---

<section>
    <div class="container hero">
        <h1>Martina Pennesi - Psicologa Pesaro: Percorso Terapeutico su Misura</h1>
        <img src="/images/martina-pennesi.jpg" alt="Martina Pennesi, psicologa clinica a Pesaro specializzata in terapia cognitivo-comportamentale">
    </div>
</section>

<style>

    .hero {
        display: grid;
        grid-template-columns: 1fr;
        margin-block: 2em;
        min-height: 500px;
        align-items: center;

        @media (min-width: 767px) {
            grid-template-columns: repeat(2,1fr);
        }
    }

    

</style>