---
---

<section class="bg-accent">
    <div class="container reviews">
        <img src="/images/stars.svg" alt="Valutazione 5 stelle" />
        <h2 class="reviews__title">alcuni commenti positivi</h2>
        <div class="reviews__cards">
            <img src="/images/recensione-1.png" alt="Recensione positiva di Martina Pennesi, nutrizionista e psicologa a Pesaro" />
            <img src="/images/recensione-2.png" alt="Recensione positiva di Martina Pennesi, nutrizionista e psicologa a Pesaro" />
            <img src="/images/recensione-3.png" alt="Recensione positiva di Martina Pennesi, nutrizionista e psicologa a Pesaro" />
            <img src="/images/recensione-4.png" alt="Recensione positiva di Martina Pennesi, nutrizionista e psicologa a Pesaro" />
        </div>
    </div>
</section>

<style>
    .reviews {
        padding-block: 4em;
        margin-block: 3em;
        color: #fff;
    }

    .reviews__title {
        color: #fff;
    }

    .reviews__cards {
        padding-top: 1em;
        
        column-count: 2;
        column-gap: 1em;
    }

    .reviews__cards > img {
        width: 100%;
        margin-bottom: 1em;
        display: block;
        border-radius: 0.5em;
        break-inside: avoid;
    }
</style>